/* Styles the main container; default is 500x100 (wxh). The -8px margin is to offset what StreamElements adds in their editor */

.main-container {
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;
    display:flex;
    align-items: center;
    background: {bgColor};
    margin-top: -8px;
    margin-left: -8px;
    height:100px;
    width:500px;
}

/* Styles for the image. Change the last padding value to increase/lessen the gap between the image and text */

.image-container {
    height: 100px;
    width: 100px;
    display:table;
    background-image: url('{imgIcon}');
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    
}

/* Highlight Color style */

.highlight {
  color: {{HighlightColor}};
    }

/* Styles the alert text */

.text-container {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 15px;
    margin-right:10px;
    font-family: '{fontName}', sans-serif;
}