/* Slide animation left*/
@keyframes slide-left {
  0% {opacity: 0; margin-left:-500px;}
  0.1% {opacity: 1;}
  20% {margin-left:-8px;}
  80% {margin-left:-8px;}
  99.9% {opacity: 1;}
  100% {opacity: 0; margin-left:-500px;}
}

/* Slide animation right*/
@keyframes slide-right {
  0% {opacity: 0; margin-left:+508px;}
  0.1% {opacity: 1;}
  20% {margin-left:-8px;}
  80% {margin-left:-8px;}
  99.9% {opacity: 1;}
  100% {opacity: 0; margin-left:+508px;}
}

/* Styles the main container; default is 500x100 (wxh). The -8px margin is to offset what StreamElements adds in their editor */

.main-container {
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;
    display:flex;
    align-items: center;
    background: {bgColor};
    margin-top: -8px;
    margin-left: -8px;
    height:100px;
    width:500px;
    animation-name: {slideDirection};
    animation-duration: 6s;
}

/* Styles for the image. Change the last padding value to increase/lessen the gap between the image and text */

.image-container {
    height: 100px;
    width: 100px;
    display:table;
    padding-left: 15px;
    background-image: url('{imgIcon}');
    background-repeat: no-repeat;
    background-position: center;
    background-origin: padding-box;
    background-size: 75%;
}

/* Highlight Color style */

.highlight {
  color: {{HighlightColor}};
    }

/* Styles the alert text */

.text-container {
    text-align: {textAlign};
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 15px;
    margin-right:10px;
    align-items: center;
    font-family: '{fontName}', sans-serif;
}